body{
    color: black;
    background-image: url(../IMAGENS/Boruto-and-Naruto-Vigorous.jpg);
    background-repeat: repeat;
    height: 60%;
}

.botoesMenu{
    color: #000;
    display: inline-block;
    list-style-type: none;
    border: 2px solid;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    box-sizing: content-box;
    margin-bottom: 200px;
}

header{
    text-align: center;
}

.botoesMenu:hover{
    background-color: #000;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 10px solid #000;
    background-image: url("../IMAGENS/imagem\ de\ fundo.jpg");
}

a{
    color: #ff0;
    border: 2px solid;
    padding: 10px;
    text-align: center;
    box-sizing: content-box;
    display: inline-block;
    list-style-type: none;

}

h1{
    color: #dcf30b;
    text-align: center;
    margin-left: 50%;
}

form{
    color: #dcf30b;
    text-align: center;
    margin-left: 50%;

}

.botaoCadastar{
    color: #dcf30b;
    display: inline-block;
    list-style-type: none;
    border: 2px solid;
    padding: 20px;
    text-align: center;
    box-sizing: content-box;
    padding-bottom: 50%;
}





