body{
    background-image: url(../IMAGENS/carrinho.jpg);
    background-repeat: repeat;
}

.botoesMenu{
    color: #ff0;
    display: inline-block;
    list-style-type: none;
    border: 2px solid;
    padding: 20px;
    text-align: center;
    box-sizing: content-box;
    margin-bottom: 150px;
}

.botoesMenu:hover{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;   
}

header{
    text-align: center;
}