body{
    background-image: url(../IMAGENS/naruto.png);
    color: #ff0;
    font-size: 20px;
    margin: 2;
    margin-left: 10%;

}

.botoesMenu{
    color: #ff0;
    display: inline-block;
    list-style-type: none;
    border: 2px solid;
    padding: 20px;
    text-align: center;
    box-sizing: content-box;
    margin-bottom: 150px;
}

.botoesMenu:hover{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;   
}

header{
    text-align: center;
}


.botaoEntrar{
    color: #dcf30b;
    display: inline-block;
    list-style-type: none;
    border: 2px solid;
    padding: 20px;
    text-align: center;
    box-sizing: content-box;
    margin-bottom: 150px;
    margin-right: 110%;
    
}